html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul,
li,
pre,
code,
address,
variable,
form,
fieldset,
blockquote {
  padding: 0;
  margin: 0;
  font-size: 100%;
  font-weight: normal;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th,
caption {
  font-weight: normal;
  text-align: left;
}

img,
fieldset {
  border: 0;
}

ol {
  padding-left: 1.4em;
  list-style: decimal;
}

ul {
  padding-left: 1.4em;
  list-style: square;
}

q:before,
q:after {
  content: "";
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color:black;
}

/*END OF RESET CSS*/

.flex {
  display: flex;
}

.flex-space-a {
  justify-content: space-around;
}

.flex-space-b {
  justify-content: space-between;
}

.flex-start {
  justify-content: flex-start;
}

.flex-end {
  justify-content: flex-end;
}

.space-between {
  justify-content: space-between;
}

.center-h {
  justify-content: center;
}

.center-v {
  align-items: center;
}

.flex-row {
  flex-direction: row;
}

.flex-col {
  flex-direction: column;
}

.inline > li {
  display: inline-block;
}

.height-50{
  height: 50%;
}

.gray {
  color:lightgray;
}

/*---------------------------*/

/* Tags */

body {
  background-color: rgb(230, 230, 230);
}

header {
  background: black;
  height: 20px;
}

header > ul > li {
  color: lightgray;
}

nav {
  width: 100vw;
}

h2 > a {
  font-size: 1.6em;
  font-weight: 700;
}

footer {
  width: 100%;
}

footer > div {
  background-color: #333;
  height: 200px;
}

footer > div > ul {
  margin: 10px auto;
}

footer > div > ul:first-child > li {
  padding: 12px;
  margin: 2px;
  border-radius: 50%;
  background-color: #131313;
  color: white;
}

footer > div > ul:nth-child(2) > li {
  margin: 5px auto;
  padding: 2px;
  color: #aaaaaa;
  font-size: 0.7em;
}

footer > div:last-child > p {
  height: 20px;
  width: 100%;
  color: white;
  background-color: #000000;
  font-size: 0.85em;
  text-align: center;
}

footer > div:last-child {
  background: black;
  color: gray;
  height: 120px;
}

/* General Classes*/

.red {
  color: red;
}

.left {
  float: left;
}

.right {
  float: right;
}

.orange-hover {
  color: #ff4422;
}

.orange-hover:hover {
  color: black;
}

.no-bullets > li {
  list-style-type: none;
}

/* Specific Classes */

/* --------------------*/

/* Mobile Nav */

.mobile_nav {
  width: 100vw;
  height: 48px;
  background-color: orange;
  position: sticky;
  top: 0;
}

.mobile_nav > div:nth-child(1) {
  height: 48px;
  width: 106px;
  background-color: red;
}

.mobile_nav > div:nth-child(1) > a > img {
  height: 16px;
  width: 66px;
}

.fa-search,
.fa-bars {
  height: 100%;
  width: 48px;
  padding: 16px;
}

.fa-bars {
  color: red;
  margin-left: 3px;
}

/* Tablet Nav */

.tablet {
  position: sticky;
  top: 0;
  height: 80px;
  width: 100%;
}

.tablet div:nth-child(1) {
  height: 80px;
  width: 106px;
  background-color: red;
}

.tablet div:nth-child(1) img {
  height: 16px;
  width: 66px;
}

.logo {
  width: 106px;
}

.header_tablet {
  height: 32px;
  width: 100%;
  background-color: black;
  color: white;
}

.header_tablet > ul > li {
  padding: 10px;
}

.primary_nav_tablet {
  width: 100%;
  background-color: white;
  color: gray;
}

.primary_nav_tablet > ul {
  list-style-type: none;
  height: 48px;
}

.primary_nav_tablet > ul > li {
  padding: 10px;
  font-size: 0.8em;
}

.tablet_nav_container {
  width: 100vw;
  height: 80px;
}

/* Primary Nav */

.primary_nav {
  height: 48px;
}

/* Main */

.boxes {
  width: 97vw;
  height: 89vh;
  margin: 10px auto;
}

.boxes > div {
  width: 100%;
  height: 66.6%;
}

.cover_trigger {
  display: block;
  width: 100%;
  height: 33.3%;
  border: 2px solid white;
  background: linear-gradient(165deg, red, black);
  color:white;
  font-family: verdana;
}

 .cover_trigger_header {
   padding: 15px;
 }

.cover_trigger h1,h2 {
  font-weight: 700;
}

.cover_trigger h1 {
  font-size: 5em;
  line-height: 0.85;
}

.cover_trigger h2 {
  font-size: 2em;
}

.cover_trigger span {
  font-size: 0.75em;
}

.cover_trigger>div {
  width: 100%;
  height: 100%;
}

.cover_trigger_box {
  flex-direction: column;
  height: 35%;
  padding: 15px;
}

.cover_trigger_box p {
  font-size: 0.65em;
  padding: 5px;
}

.cover_trigger_box_right {
  padding: 7px;
}

.cover_trigger_box_right h2 {
  font-size: 1em;
}

.cover_trigger_box_right p {
  font-size: 0.45em;
  padding: 5px;
}


.boxes > div .cover_trigger {
  height: 50%;
}

/* Ad */

.ad {
  width: 98%;
  height: 50vh;
  margin: 50px auto;
  background-color: pink;
}

/* Latest news */

.latest_news {
  height: 100vh;
  width: 93vw;
  margin: 20px auto;
}

.latest_news article {
  width: 100%;
  height: 80px;
  background: yellow;
  border: 2px solid gray;
}

/* Latest funding */

.latest_funding {
  width: 93vw;
  margin: 20px auto;
}

.latest_funding ul li a {
  display: block;
  font-size: 1em;
  padding: 8px;
  margin-left: -30px;
}

.latest_funding div[class*="box-"] {
  margin-top: 20px;
  border: 2px solid pink;
  height: 225px;
  background-color: gray;
}

.box-4 {
  display: none;
}

/* Apps */

.apps {
  height: 90vh;
  width: 93vw;
  margin: 20px auto;
  background: lightblue;
}

/* Gear */

.gear {
  height: 90vh;
  width: 93vw;
  margin: 20px auto;
  background: lightblue;
}

/* Tech */

.tech {
  height: 90vh;
  width: 93vw;
  margin: 20px auto;
  background: lightblue;
}

/* Creative */

.creative {
  height: 90vh;
  width: 93vw;
  margin: 20px auto;
  background: lightblue;
}

/* Podium */

.podium {
  height: 90vh;
  width: 93vw;
  margin: 20px auto;
  background: lightblue;
}

/* Insights */

.insights {
  height: 90vh;
  width: 93vw;
  margin: 20px auto;
  background: lightblue;
}

/* Launch */

.launch {
  height: 90vh;
  width: 93vw;
  margin: 20px auto;
  background: lightblue;
}

/* Distract */

.distract {
  height: 90vh;
  width: 93vw;
  margin: 20px auto;
  background: lightblue;
}

/* Latest deals */

.latest_deals {
  width: 93vw;
  margin: 20px auto;
  background: lightblue;
}

.latest_deals div:first-child {
  margin-bottom: 10px;
}

.latest_deals div[class*="deal_box_"] {
  width: 100%;
  height: 100px;
  background: orange;
  border: 2px solid gray;
  margin: 10px 0;
}

/* Media Queries */

/*Phone size*/

@media only screen and (max-width: 700px) {
  .display-big,
  .primary_nav,
  .tablet,
  .header {
    display: none;
  }

  .mobile_nav {
    background: white;
  }
}

/* Tablet Size */

@media only screen and (min-width: 700px) and (max-width: 1000px) {

  .display-big,
  header ul:nth-child(2),
  .primary_nav,
  .mobile_nav,
  .header {
    display: none;
  }

  .header_tablet {
    width: 99vw;
    background-color: black;
  }

  .header_tablet ul li a {
    color: white;
  }

  .primary_nav_tablet ul li a {
    color: #aaaaaa;
  }

  .boxes {
    height: 50vh;
    flex-direction: row;
  }

  .boxes > a {
    height: 50vh;
  }

  .boxes > div {
    width: 50%;
    height: 50vh;
  }

  .latest_news > div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: left;
  }

  .latest_news article {
    width: 30%;
    margin: 10px;
    height: 20vh;
  }

  .box-1,
  .box-2,
  .box-3 {
    width: 32.9%;
    display: inline-block;
  }

  .categories {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .categories > section {
    width: 50%;
    border: 2px solid white;
    height: 60vh;
    padding: 10px;
  }

  .latest_deals div:nth-child(2) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .latest_deals div:nth-child(2) div {
    width: 31%;
    height: 20vh;
    margin-left: 10px;
  }

  .tablet {
    width: 100%;
  }
}

/*/ Desktop size */

@media only screen and (min-width: 1000px) {
  .logo,
  .mobile_nav,
  .header_tablet,
  .tablet,
  .mobile_nav {
    display: none;
  }

  header {
    font-size: 0.6em;
  }

  .tablet div:nth-child(1) {
    height: 80px;
    width: 106px;
    background-color: transparent;
  }

  .boxes {
    height: 50vh;
    flex-direction: row;
  }

  .boxes > a {
    height: 100%;
  }

  .boxes > div {
    width: 50%;
    height: 100%;
  }

  .ad {
    height: 75px;
    width: 35%;
  }

  .latest_news,
  .latest_funding,
  .categories,
  .latest_deals {
    width: 65%;
    margin: auto;
  }

  .latest_news > div {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .latest_news article {
    width: 25%;
    border: 10px solid white;
    height: 250px;
  }

  .box-1,
  .box-2,
  .box-3,
  .box-4 {
    display: inline-block;
    width: 24%;
  }

  .latest_funding > div > div:first-child {
    display: flex;
    justify-content: space-between;
  }

  .latest_funding > div > div > ul > * {
    display: inline-block;
    font-size: 1.2em;
    margin: 0 25px;
  }

  .latest_funding > div > div > ul > li:first-child,
  .latest_funding > div > div > ul > li:nth-child(2) {
    border-right: 1px solid orange;
  }

  .categories {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .categories > section {
    width: 33%;
    border: 10px solid white;
    height: 60vh;
  }

  .categories section:nth-child(9) {
    border: none;
  }

  .latest_deals div:nth-child(2) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .latest_deals div:nth-child(2) div {
    width: 24%;
    height: 220px;
    margin: 10px auto;
  }

  .header ul {
    padding-right: 20px;
  }

  .header ul li {
    padding: 5px 5px 5px 10px;
  }

  .header ul li a {
    color: white;
  }

  .primary_nav {
    position: sticky;
    top: 0;
    background-color: white;
    height: 32px;
  }

  .primary_nav > ul {
    padding-left: -100px;
  }

  .primary_nav > ul > li {
    padding: 10px 10px 10px 0px;
    font-size: 10px;
    color: #aaaaaa;
  }

  .primary_nav ul li a {
    color: #aaaaaa;
  }

  footer > div:last-child {
    height: 50px;
    flex-direction: row;
    align-items: center;
  }

  footer > div:last-child > p {
    background-color: #000000;
    font-size: 0.55em;
    display: inline-block;
    width: auto;
  }
}
